<!--<login></login>
<courses></courses>

<div class="main-container">
  <h1 class="text-color">Main container</h1>
  <h2 class="text-color-2">Sub Heading</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">Column1</div>
    <div class="col-12">Column2</div>
    <div class="col-12">Column3</div>
  </div>
</div>-->
<!--<div *ngFor="let product of products">
  {{ product.title}}
  {{ product.id}}
  {{ product.desc}}
</div>-->
<ng-container *ngIf="!loggedin;else homeScreen">
  <app-login (isloggedin)="checkloginstatus($event)"></app-login>
</ng-container>
<ng-template #homeScreen>
  <app-navbar (log)="checkloginstatus($event)"></app-navbar>
  <div class="container-fluid">
    <main role="main" class="container">
      <router-outlet></router-outlet>
      <!--<div *ngIf="!ProductId; else singleProducts">
        <app-product (productDetail)="assignData($event)"></app-product>
      </div>
      <div>
        <ng-template #singleProducts>
          <app-single-product (removeValue)="assignData($event)" [id]="ProductId"></app-single-product>
        </ng-template>
      </div>-->
    </main>
  </div>
  <app-footer></app-footer>
</ng-template>


