<div class="container">
    <div class="row py-5">
      <div class="form-group">
        <input type="text" class="form-control mb-5" placeholder="Enter text to search" id="search-text" name="searchText" aria-describedby="search-text" [(ngModel)]="searchText" >
       </div>
        <div class="col-4 d-flex mb-5" *ngFor="let product of products | LockFilter: searchText | paginate: { itemsPerPage: 4, currentPage: p}">
          <div class="card align-items-center px-3 py-3">
            <img src={{product.image}} width="250" height="250"/>
            <p>{{product.title}}</p>
            <p>{{product.category}}</p>
            <p>{{product.price}}</p>
            <p class="readmore">{{product.description}}</p>
          <a href="{{'single-product/'+product.id }}" class="btn btn-primary">Buy Product</a>
          </div>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>