.card{
    width: 400px;
    height: 500px;
    button{
        margin-bottom: 10px;
        width: 150px;
        position: absolute;
        bottom: 0;
        background-color: #0d6efd;
    }
    p{
        margin-bottom: 5px;
        margin-top: 5px;
    }
}
.readmore{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
input{
    width: 300px;
    float: right;
}
